In [1]:
# Display every variable or statement that is on its own line (see all at once).
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [17]:
from pydataset import data
table = data( 'quakes' )
table.sample( 10 )

       lat    long  depth  mag  stations
819 -21.75  180.67    595  4.6        30
191 -20.02  184.09    234  5.3        71
586 -16.62  186.74     82  4.8        51
598 -17.02  182.93    406  4.0        17
345 -27.20  182.39     69  4.3        14
185 -20.45  181.85    534  4.1        14
478 -29.09  183.20     54  4.6        23
440 -16.10  185.32    257  4.7        30
495 -17.14  185.31    223  4.1        15
525 -32.45  181.15     41  5.5        81